map <C-v> "+gP
imap <C-v> <S-Insert>
map <C-c> "+y
imap <C-c> "+y
map <F9> o<Esc>p<Esc>
map <S-TAB> << V
vmap <S-TAB> << V
map <TAB> >> 
vmap <TAB> >>
" 插入模式命令
imap <C-h> <Left>
imap <C-g> <BS>
imap <C-l> <Right>
imap <C-k> <Up>
imap <C-j> <Down>
" end
" 注释star
nnoremap <C-Up> I/*<cr>
imap <C-Up> <Home>/*<cr>
nnoremap <C-Down> A*/
imap <C-Down> <End> */
" shift+Left注释反注释
nmap <C-Left> I//<ESC>
imap <C-Left> <Home>//<ESC>
nmap <C-Right> <Home>xx<ESC>
imap <C-Right> <Home><Right><Right><BS><BS><ESC>
" 注释 end
command -nargs=* Wk :call Work(<f-args>) "Multiple args: proName save/open
function Work(args1, ...)
 if a:0==0
   call OpenSingle(a:args1)
 elseif a:0 == 1
    call WorksFn(a:args1,a:1) 
 else
    call WorksFn(a:args1,a:1) 
 endif
endfunction

function WorksFn(g,proName)
if a:g =="s"
  call  SaveFn(a:proName)
elseif a:g == "o"
  call  OpenFn(a:proName)
endif
endfunction

function OpenSingle(fileName)
if a:fileName =="doc"
  execute "vi C:\\Users\\lc139\\OneDrive\\202009-12-gvim\\0000_文档\\01_.md"
elseif a:fileName == "set"
  execute "vi X:\\Program Files\\Vim\\_vimrc"
elseif a:fileName == "guide"
  execute "vi C:\\Users\\Administrator\\vimpro\\doc.vim"
  execute "Explore"
elseif a:fileName == "readme"
  execute e C:\\Users\\lc139\\OneDrive\\202009-12-gvim\\00_vim项目.md
endif
endfunction

function SaveFn(proName)
execute "mksession! ~//vimpro//".a:proName.".vim"
   echom a:proName . " saved successfully"
endfunction
"
function OpenFn(proName)
  execute "source ~//vimpro//".a:proName.".vim"
endfunction

"----------------------------------
command -nargs=* We :call Worke(<f-args>) "Multiple args: proName save/open
noremap <silent> <F3> <Esc>:!start www.baidu.com<CR>
function Worke(args1, ...)
    echo a:0
 if a:0==0
   call WorkeSingle(a:args1)
 elseif a:0 == 1
    call WorkeFn(a:args1,a:1) 
 else
    call WorkeFn(a:args1,a:1) 
 endif
endfunction
function WorkeSingle(fileName)
    echo a:fileName
if a:fileName =="b"
   execute "!start www.baidu.com"
elseif a:fileName =="t"
   execute "!start http://localhost:8080/\\#\/contentMgmt\/diamondsCoinDistribution"
elseif a:fileName =="c"
   execute "silent !start cmd"
"Windows Explorer 打开当前文件所在的目录
elseif a:fileName == "e"
   execute "!start %:h"
elseif a:fileName == "guide"
   execute "vi C:\\Users\\Administrator\\vimpro\\doc.vim"
   execute "Explore"
endif
endfunction

